body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif 
}
.container {
    display: flex;
    height: 100vh;
}
.item {
    width: 250px;
    height: 100vh;
    margin-right: 4px; /* Khoảng cách giữa các phần tử */
    padding: 8px 16px; /* Padding trên-dưới: 8px, trái-phải: 16px */
    background-color: red; /* Màu sắc tùy chỉnh */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}
.item:last-child {
    margin-right: 0;
}
.item.active {
    background-color: #c0c0c0; /* Màu sắc khác cho phần tử được chọn */
}
.item i {
    font-size: 24px;
    margin-bottom: 8px;
}